.catSpeciesItem{width:1140px;height:730px;margin:0 auto;}
.catSpeciesItem .catItem{height:260px;width:360px;float:left;margin:10px 10px 100px 10px;background-color:white;list-style:none;list-style-type:none; }
.BigcatItem{width:100%;height:100%;z-index:10;cursor:pointer;position:relative;}
.BigcatItem .catItemImg{width:100%;height:100%;}
.BigcatItem .catItemImg img{width:100%;height:100%;transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
    filter: grayscale(60%);-webkit-filter: grayscale(60%);-moz-filter: grayscale(60%);-ms-filter: grayscale(60%);-o-filter: grayscale(60%);
}
.BigcatItem:hover .catItemImg img{position: relative; z-index: 9; border: 6px solid rgba(255, 255, 255, 0.9);
	transform: scale(0.5) translateY(100%); 
	-webkit-transform: scale(0.5) translateY(100%); 
	-moz-transform: scale(0.5) translateY(100%);
    filter: grayscale(0);-webkit-filter: grayscale(0);-moz-filter: grayscale(0);-ms-filter: grayscale(0);-o-filter: grayscale(0);
}
.BigcatItem .catItemText.Two{opacity: 0;
	transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	-moz-transform: translateY(-40%);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
    text-align:center;
}
.BigcatItem .catItemText.One{opacity: 0;
	transform: translateX(-40%);
	-webkit-transform: translateX(-40%);
	-moz-transform: translateX(-40%);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
    text-align:center;
}
.BigcatItem .catItemText.Three{opacity: 0;
	transform: translateX(40%);
	-webkit-transform: translateX(40%);
	-moz-transform: translateX(40%);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
    text-align:center;
}
.catItemText{position: absolute; left:0;top:0;background:url(../Images/背景/black.jpg); height: 100%; opacity: 0; width: 100%;}
.BigcatItem:hover .catItemText.Two{
    opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
}
.BigcatItem:hover .catItemText.One{
    opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}
.BigcatItem:hover .catItemText.Three{
    opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}
.catItemText h3{font-family:KaiTi;font-size:24px;color:white;margin:15px 0 20px;}
.catItemText p{width:70%;margin:0 auto;font-family:KaiTi;color:#ddd;}
.catItemText a{background-color:aqua;color:white;}

